
// variables principales de colores

$verde: #4cb8b3;
$dverde: #4B8673;
$damarillo: #FBCB0A;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #753f97;
$negro: #000000;
$blanco: #ffffff;

//fuente principal del documento
$fuente_principal: 'Montserrat', sans-serif;

